#
# .gitignore
#

*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
.tags*
*.pyc

# compiled object files
*.slo
*.lo
*.o

# compiled dynamic libraries
*.so

# compiled static libraries
*.lai
*.la
*.a
i

# data
*.csv
*-checkpoint.ipynb

# directories
build*/
*zzz/
.vscode/
.vs/
